/* Estilo da página - Home*/

@media only screen and (min-width : 1024px) {
 
 .menu_page {
	background: linear-gradient(#4d4d4d, #000000);
	color: #fff;
	border-radius: 10px 10px 0 0;	
}

}

@media only screen and (max-device-width: 500px) {

.menu_page {
	
}

}