/* Estilo da página - Fale Conosco */

#tbl_fale_conosco {
	position: relative;
	top: 10px;
	left: 10px;
}

#tbl_fale_conosco thead {
	background: linear-gradient(#4d4d4d, #000000);
	color: #ffffff;
}

#tbl_fale_conosco thead tr {
	height: 30px;
}

#tbl_fale_conosco tr td {
	padding: 2px 5px;
}

.estilo_input {
	width: 250px;
	min-width: 250px;
	height: 18px;
	border: none;
	font-size: 14px;
	outline: 1px solid #A5A5A5;
}

#tbl_fale_conosco input[type="submit"] {
	background: linear-gradient(#F6F6F6, #DEDEDE);
	outline: 1px solid #A5A5A5;
}

#tbl_fale_conosco textarea {
	min-height: 64px;
	max-width: 250px;
	max-height: 500px;
}

.obs {
	padding: 5px 0;
	text-align: center;
	font-size: 12px;
	color: #484848;
}