/* Estilo da página - Nossas Lojas*/

#nossas_lojas {
	float: left;
}

.titulo_nossas_lojas {
	width: 280px;
	margin-left: 10px;
	padding: 2px 10px;
	background: linear-gradient(#4d4d4d, #000000);
	color: #ffffff;
}

.selecionar {
	width: 300px;
	display: block;
	margin: 5px 10px;
}

iframe {
	margin: 10px 0 0 10px;
	width:600px;
	height: 450px;
	border:0;
}