/* Estilo geral da Woody Woodpecker - Para Desktops */

@media only screen and (min-width : 1024px) {

* {
	margin: 0;
	padding: 0;
	font-family: Tahoma;
}

body {
	background: linear-gradient(#f2f2f2, #bfbfbf);
	overflow-x: hidden;
}

/* Cabeçalho */

header {
	width: 100%;
	height: 100px;
	background-color: #48a7af;
	font-family: Arial;
}

#centraliza_cabecalho {
	margin: auto;
	width: 1024px;
	height: 100px;

}

#logo {
	position: relative;
	top: 20px;
	left: 15px;
}

#logo img {
	width: 100px;
}

a {
	text-decoration: none;
	color: black;
}

/* Menu */

#menu {
	height: 30px;
	max-height: 30px;
	position: relative;
	top: 3px;
}

#menu ul {
	position: relative;
    top: 5px;
    left: 220px;
    width: 800px;
}

#menu ul li {
	display: inline-block
}

#menu ul li a {
	padding: 5px 10px;
}

#menu ul li a:hover {
	background: linear-gradient(#4d4d4d, #000000);
	color: #fff;
	border-radius: 10px 10px 0 0;	
}

/* Estilo somente para a pÃ¡gina */

.menu_page {
	background: linear-gradient(#4d4d4d, #000000);
	color: #fff;
	border-radius: 10px 10px 0 0;	
}

/* FormulÃ¡rio Login */

#formulario_pesquisa {
	display: inline-block;
	position: relative;
	left: 115px;
	top: -30px;
}

#formulario_pesquisa input[name="pesquisa"] {
	width: 400px;
	padding: 5px;
	padding-right: 26px;
	border: none;
}

#formulario_pesquisa input[name="btn_pesquisa"] {
	width: 24px;
	height: 24px;
	background: url(../Imagens/search.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	position: relative;
	left: -30px;
}

#formulario_pesquisa input[name="btn_pesquisa"]:hover {
	cursor: pointer;
}


.caixa_entrada {
	float: right;
    width: 100px;
    height: 28px;
    background: #fff;
    margin-left: 10px;
    text-align: center;
    position: relative;
    top: 10px;
}

.caixa_entrada:hover {
	background: linear-gradient(#4d4d4d, #000000);
}

.caixa_entrada:hover > a {
	color: #fff;
}

.caixa_entrada a {
	position: relative;
    top: 2px;
    color: #059aa7;
}

#formulario_login {
	float: right;
	min-width: 414px;
	background-color: #000;
	padding: 5px;
	border-radius: 0px 0px 10px 10px;
}

#formulario_login label {
	color: #fff;
	font-size: 12px;	
}

#formulario_login input {
	border-radius: 3px;
	border: none;
	height: 20px;
	font-size: 12px;
}

#btn_entrar {
	width: 60px;
	background-color: #dbeef0;
	color: #000000;
	font-weight: bold;
}

#btn_entrar:active {
	background-color: #48a7af;
	color: #fff;
}

/* Corpo */

#corpo {
	width: 1024px;
	height: auto;
	margin: auto;
	margin-top: 5px;
}

/* Banner */

/*

#banner {
	width: 1000px;
	height: 234px;
	overflow: hidden;
	position: relative;
}

#listSlide {
	width: 12000px;
	height: inherit;
	position: absolute;
}

#listSlide li {
	float: left;
	width: auto;
	list-style-type: none;
}

#banner img {
	width: 1000px;
	height: 234px;
}

#left {
	width: 30px;
	height: 30px;
	background: url("../Imagens/button_back.png") repeat scroll 0% 0% transparent;
	opacity: 0.4;
	float: left;
	position: relative;
	top: 102px;
}

#left:hover {
	opacity: 1;
	cursor: pointer;
}

#right {
	width: 30px;
	height: 30px;
	background: url(../Imagens/button_right.png);
	opacity: 0.4;
	float: right;
	position: relative;
	top: 102px;
}

#right:hover {
	opacity: 1;
	cursor: pointer;
}

#cx_pointer {
	width: 1000px;
	height: 35px;
	float: left;
	position: absolute;
	top: 195px;
}

.point {
	border-radius: 100%;
	background-color: #000;
	display: inline-block;
	position: relative;
	left: 330px;
}

.point:hover {
	cursor: pointer;
}

*/

/* Barra lateral */

#barra_lateral {
	margin-top: 10px;
	width: 20%;
	height: auto;
	background: transparent;
	position: relative;
}

.caixa_barra {
	width: 200px;
	height: 41px;
	background-color: #48A7AF;
	margin-bottom: 2px;
	float: left;
}

.caixa_barra:hover {
	background: linear-gradient(#4d4d4d, #000000);
	cursor: pointer;
}

.titulos_barra {
	color: #fff;
	position: relative;
	top: 8px;
	left: 10px;
}

/* ConteÃºdo principal */

#principal {
	margin-top: 10px;
	width: 80%;
	height: auto;
	background: none repeat scroll 0% 0% transparent;
	position: relative;
	display: inline-block;
}

/* Titulo */

#principal h3 {
	margin: 10px;
}

/* Produtos */

.produtos {
	width: 190px;
	height: 350px;
	background-color: white;
	display: inline-block;
	margin-top: 5px;
	margin-left: 5px;
	position: relative;
	left: 10px;
	float: left;
}

.produtos:hover {
	outline: 1px solid black;
	border-radius: 0 0 5px 5px;
	cursor: pointer;
}

.produtos:hover > a {
	background-color: #48A7AF;
}

.produtos img {
	width: 100px;
	float: left;
	position: relative;
	top: 5px;
	left: 50px;
}

.produtos ul {
	width: 192px;
	height: 315px;
}

.produtos ul li:nth-child(1) {
	margin-top: 10px;
}

.produtos ul li {
	list-style-type: none;
	width: 190px;
	float: left;
	font-size: 14px;
	margin-left: 4px;
}

.produtos a {
	color: #FFF;
	padding: 5px 35px 5px 10px;
	border-radius: 10px 10px 0 0;
	position: relative;
	top: 10px;
	left: 45px;
	background-color: #000;
	background-image: url(../Imagens/shopping-car.png);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: 72px 3px;
}

.produtos a:hover {
	background-color: #48A7AF;
}

/* Redes Sociais */

#redes_sociais {
	width: 50px;
	height: 150px;
	position: fixed;
	top: 300px;
	right: 2px;
	z-index: 1;
}

#facebook {
	width: inherit;
	height: 50px;
	background: url(../Imagens/facebook_logo.png);
	background-size: cover;
}

#twitter {
	width: inherit;
	height: 50px;
	background: url(../Imagens/twitter_logo.png);
	background-size: cover;
}

#google_plus {
	width: inherit;
	height: 50px;
	background: url(../Imagens/google_plus_logo.png);
	background-size: cover;
}

/* RodapÃ© */

footer {
	clear: both;
	width: 100%;
	height: 300px;
	background-color: #48a7af;
	margin-top: 5px;
}

#rodape {
	position: relative;
	width: 100%;
	height: 330px;
	top: 70px;
	margin: auto;
	background-color: #48a7af;
}



#lado1 {
	position: relative;
	width: 1024px;
	height: 250px;
	margin: auto;
	font-family: Arial;
	font-size: 12px;
}

/* Rodape logo */

#rodape_logo {
	width: 1024px;
    height: 50px;
    margin: auto;
    position: relative;
    top: -50px;
}

#rodape_logo a img {
	width: 100px;
	position: relative;
    left: 350px;
    float: left;
}

#rodape_logo h2 {
	position: relative;
	top: 15px;
	left: 360px;
	width: 300px;
}

/* RodapÃ© - Lado 1 - Sitemap */
#lado1 #sitemap {
	float: left;
	position: absolute;
	width: 150px;
	height: 100px;
	top: 30px;
	left: 10px;
}

#lado1 #sitemap h3 {
	padding-bottom: 5px;
}

#lado1 #sitemap ul li {
	padding-bottom: 2px;
	color: #6d6d6d;
	list-style-type: none;
	text-decoration: underline;
}

/* RodapÃ© - Lado 1 - Customer */
#lado1 #customer {
	float: left;
	position: absolute;
	width: 150px;
	height: 130px;
	top: 30px;
	left: 200px;
}

#lado1 #customer h3 {
	padding-bottom: 5px;
}

#lado1 #customer ul {
	width: 150px;
	height: 102px;
}

#lado1 #customer ul li {
	padding-bottom: 2px;
	color: #6d6d6d;
	list-style-type: none;
	text-decoration: underline;
}

/* RodapÃ© - Lado 1 - Newsletter */

#lado1 #newsletter {
	float: left;
	position: absolute;
	width: 200px;
	height: 130px;
	top: 30px;
	left: 400px;
}

#lado1 #newsletter h3 {
	padding-bottom: 5px;
}

#lado1 #newsletter input[name="mail"] {
	float: left;
	position: absolute;
	width: 164px;
	height: 16px;
	padding: 4px 28px 4px 4px;
	background-color: #ebebeb;
	font-style: italic;
	border-radius: 5px;
}

#lado1 #newsletter input[name="go"] {
	float: right;
	position: absolute;
	top: 29px;
	left: 170px;
	font-family: "Myriad Pro";
	background-color: transparent;
	cursor: pointer;
	border: none;
}

#lado1 #newsletter input[name="go"]:active {
	color: #346FC7;
}

#lado1 #newsletter p {
	float: right;
	position: absolute;
	width: 200px;
	height: 50px;
	top: 55px;
	font-family: Verdana;
	font-size: 7pt;
}

#lado1 #newsletter ul li {
	padding-bottom: 2px;
	color: #6d6d6d;
	list-style-type: none;
	text-decoration: underline;
}

/* RodapÃ© - Lado 1 - Social */

#lado1 #social {
	float: left;
	position: absolute;
	width: 150px;
	height: 130px;
	top: 30px;
	left: 650px;
}

#lado1 #social h3 {
	padding-bottom: 5px;
}

#lado1 #social ul {
	float: left;
	position: relative;
	left: 22px;
}

#lado1 #social ul li {
	padding-bottom: 2px;
	text-decoration: underline;
	cursor: pointer;
	color: #6d6d6d;
}

#lado1 #social ul li:nth-child(1) {
	list-style-image: url("../Imagens/facebook.png");
}

#lado1 #social ul li:nth-child(2) {
	list-style-image: url("../Imagens/youtube.png");
}
#lado1 #social ul li:nth-child(3) {
	list-style-image: url("../Imagens/rss.png");
}
#lado1 #social ul li:nth-child(4) {
	list-style-image: url("../Imagens/twitter.png");
}

/* RodapÃ© - Lado 1 - PatrocÃ­nios */
#lado1 #patrocinios {
	float: left;
	position: absolute;
	width: 150px;
	height: 130px;
	top: 30px;
	left: 830px;
}

/* RodapÃ© - Lado 2 */

#copyright {
	position: relative;
	width: 100%;
	border-top: 1px solid #d6d6d6;
}

#copyright #lado2 {
	position: relative;
	width: 1000px;
	height: 80px;
	margin: auto;
	font-family: Arial;
	font-size: 12px;
}

#copyright #lado2 p {
	float: left;
	position: absolute;
	top: 15px;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}

}