/* Estilo da página - Livro do mês */

/* Produtos */

.livro_mes {
	width: 800px;
	min-height: 800px;
	height: 950px;
	display: inline-block;
	margin-top: 5px;
	position: relative;
	left: 10px;
	background-color: #ffffff;
}

.livro_mes:hover {
	outline: 1px solid black;
	border-radius: 0 0 5px 5px;
	cursor: pointer;
	background-color: #ffffff;
}

.livro_mes:hover > a {
	background-color: #48A7AF;
}

.livro_mes img {
	width: 330px;
	height: 515px;
	float: left;
	position: relative;
	top: 5px;
	margin-left: 45px;
}

.livro_mes ul {
	width: 700px;
	height: 250px;
}

.livro_mes ul li:nth-child(1) {
	margin-top: 10px;
}

.livro_mes ul li {
	list-style-type: none;
	width: 700px;
	float: left;
	font-size: 16px;
	padding: 2px;
	margin-left: 45px;
}

.titulo_livro_mes {
	background: linear-gradient(#4d4d4d, #000000);
	color: #ffffff;
}

.livro_mes a {
	color: #FFF;
	background-color: #000;
	padding: 10px 20px;
	border-radius: 10px 10px 0 0;
	position: relative;
	left: 349px;
	top: 10px;
}
