@media only screen and (max-device-width: 500px) {

* {
	margin: 0;
	padding: 0;
	font-family: Tahoma;
}

body {
	background: linear-gradient(#f2f2f2, #bfbfbf);
	overflow-x: hidden;
}

/* Cabeçalho */

header {
	width: 100%;
	height: 10%;
	background-color: #48a7af;
	font-family: Arial;
}

#centraliza_cabecalho {
	margin: auto;
	width: 100%;
	height: 10%;
}

#logo {
	position: relative;
	left: 5%;
}

#logo img {
	width: 30%;
}

a {
	text-decoration: none;
	color: #000;
}

/* Menu */

#menu {
	font-size: 2.6em;
}


#menu ul li {
	width: 100%;
	text-align: center;
	background-color: #b2b2b2;
}

#menu ul li:hover {
	background: linear-gradient(#4d4d4d, #000000);
}

#menu ul li:hover > a {
	color: #fff;
}

/* Formulario de Pesquisa */

#formulario_pesquisa {
	display: inline-block;
    position: relative;
    font-size: 2em;
    width: 100%;
    margin: 5% 0px;
}

#formulario_pesquisa input[name="pesquisa"] {
	width: 75%;
	padding: 2% 1%;
	padding-right: 10%;
	font-size: 1.1em;
	position: relative;
	left: 5%;
}

#formulario_pesquisa input[name="btn_pesquisa"] {
	width: 10%;
	height: 5.5em;
	background: url(../../Imagens/search.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	position: relative;
	top: -0.6em;
    left: -6.5%;
}

/* Caixa de entrada */
.caixa_entrada {
	float: right;
    width: 30%;
    height: 30%;
    background: #fff;
    margin-right: 1%;
    text-align: center;
    position: relative;
    padding: 2% 0;
    top: 1.4em;
    font-size: 2em;
}

.caixa_entrada:hover {
	background: linear-gradient(#4d4d4d, #000000);
}

.caixa_entrada:hover > a {
	color: #fff;
}

.caixa_entrada a {
	position: relative;
    color: #059aa7;
}

/* Corpo da página */

#corpo {
	width: 100%;
}

/* Barra Lateral */

#barra_lateral {
	width: 100%;
	font-size: 1.5em;
}

.caixa_barra {
	background-color: #48a7af;
}

.titulos_barra {
	text-align: center;
	font-weight: normal;
}

/* Conteúdo principal */

#principal {
	margin-top: 10%;
	width: 100%;
}

/* Título */

#principal h3 {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}

/* Produtos */

.produtos {
	width: 90%;
	background-color: #fff;
	outline: 1px solid #000;
	margin-top: 5%;
	position: relative;
	left: 5%;
	font-size: 2em;
	padding-bottom: 7.5em;
}

.produtos img {
	width: 100%;
	position: relative;
}

.produtos ul {
	width: 90%;
}

.produtos ul li {
	list-style-type: none;
	position: relative;
	left: 5%;
}

.produtos a {
	width: 100%;
	color: #fff;
	padding: 5% 40%;
	background-color: #000;
	background-image: url(../Imagens/shopping-car.png);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: 72px 3px;
	margin-bottom: 10%;
	position: relative;
	top: 6em;
}

footer {
	display: none;
}

}