/* Estilo da CMS de Usuários */

#tbl_cms_usuarios {
	position: relative;
	outline: 1px solid #000;
}

#tbl_cms_usuarios thead {
	background: linear-gradient(#4d4d4d, #000000);
	color: #ffffff;
}

#tbl_cms_usuarios thead tr {
	height: 30px;
}

#tbl_cms_usuarios tr td {
	padding: 2px 5px;
}

.estilo_input {
	width: 250px;
	min-width: 250px;
	height: 18px;
	border: none;
	font-size: 14px;
	outline: 1px solid #A5A5A5;
}

#tbl_cms_usuarios input {
	min-width: 250px;
}
