/* Estilo Geral do Sistema de Gerenciamento da Woody Woodpecker */

* {
	margin: 0;
	padding: 0;
}

#centraliza_cabecalho h1 {
	float: left;
	position: relative;
	left: 110px;
	top: -25px;
	color: #fff;
	text-shadow: 1px 1px #000;
}

#cx_logo_cms {
	float: left;
	width: 500px;
	max-width: 520px;
	height: 100px;
}


#img_erro {
	position: relative;
	left: 244px;
}

section h2 {
	position: relative;
	padding: 10px;
	text-align: center;
}

section p {
	text-align: center;
}

/* Formulário Login */

#formulario_login {
	display: block;
	float: right;
	min-width: 413px;
	max-width: 500px;
	background-color: #000;
	padding: 5px;
	border-radius: 0px 0px 10px 10px;
}

#formulario_login label {
	color: #fff;
	font-size: 12px;
	max-width: 53px;	
}

#formulario_login input {
	border-radius: 3px;
	border: none;
	height: 20px;
	font-size: 12px;
	max-width: 141px;
}

#btn_entrar {
	width: 60px;
	max-width: 60px;
	background-color: #dbeef0;
	color: #000000;
	font-weight: bold;
}

#btn_entrar:active {
	background-color: #48a7af;
	color: #fff;
}